appnope==0.1.3
asgiref==3.5.2
asttokens==2.1.0
async-timeout==4.0.2
autopep8==2.0.0
backcall==0.2.0
boto3==1.26.5
botocore==1.29.5
cffi==1.15.1
cli-helpers==2.3.0
click==8.1.3
configobj==5.0.6
cryptography==36.0.2
decorator==5.1.1
Django==3.2
django-filter==22.1
django-model-utils==4.2.0
django-notifications-hq==1.6.0
django-storages==1.13.1
djangorestframework==3.14.0
executing==1.2.0
importlib-resources==5.10.0
ipython==8.6.0
jedi==0.18.1
jmespath==1.0.1
jsonfield==3.1.0
Markdown==3.4.1
matplotlib-inline==0.1.6
mycli==1.26.1
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.31
psutil==5.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyaes==1.6.1
pycodestyle==2.9.1
pycparser==2.21
Pygments==2.13.0
PyMySQL==1.0.2
pyparsing==3.0.9
pyperclip==1.8.2
python-dateutil==2.8.2
python-memcached==1.59
pytz==2022.5
redis==4.3.5
s3transfer==0.6.0
six==1.16.0
sqlglot==9.0.6
sqlparse==0.4.3
stack-data==0.6.0
swapper==1.3.0
tabulate==0.9.0
tomli==2.0.1
traitlets==5.5.0
urllib3==1.26.12
wcwidth==0.2.5
